.header-bar-container {
    position: fixed;
    width: 100%;
}
.sidebar-container {
    position: fixed;
    width: 240px;
    top: 60px;
}
table {
    width: 1000px;
}
table thead tr th:last-child,
table tbody tr td:last-child {
    padding: 5px;
    width: 120px;
}
table button {
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(28, 182, 28);
    color: #fff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.medical-content-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-left: 275px;
    overflow-x: hidden;
}
.search-container-body .input-search-container {
    margin-bottom: 20px;
}
.search-container {
    display: flex;
    flex-direction: column;
    width: 1600px;
}
.search-container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1),
        0 12px 16px rgba(0, 0, 0, 0.1);
}
.search-container .search-container-head {
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 100;
    font-size: 20px;
    background-color: #006769;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.medical-content-container h1 {
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 100;
    font-size: 20px;
}
.search-container .input-search-container span {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}
.search-container .input-search-container input {
    width: 600px;
    border: none;
    background-color: #ececec;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    margin-left: 20px;
}
.search-container .input-search-container input:focus {
    outline: none;
}
.identity-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}
.identity-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1),
        0 12px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.identity-patient-head-container,
.data-patient-head-container {
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 100;
    font-size: 20px;
    background-color: #006769;
    color: white;
    padding: 10px;
    width: 1580px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.identity-patient-body-container,
.data-patient-body-container {
    padding: 20px;
}
.content-container .table-header {
    font-family: 'Ubuntu', sans-serif;
    text-align: right;
    padding-right: 10px;
    border-bottom: solid;
    border-color: rgba(0, 0, 0, 0.55);
    border-width: 0.1em;
    width: 0px;
    background-color: #006769;
    color: white;
}
.identity-patient-body-container{
    display: flex;
}
.content-container .table-body {
    text-align: left;
    width: 100px;
}
.content-container table{
    width: 600px;
}
.identity-patient-body-container .content-container table tr td{
    border-bottom-color: rgba(0, 0, 0, 0.55);
    border-bottom-width: solid;
    border-bottom-style: 0.1em;
}
.identity-patient-body-container .profile-container{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
