/* Modal Styles */
.modal {
    font-family: "Open Sans", sans-serif;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 5% auto; /* Center the modal */
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 1200px; /* Ensures it doesn't get too wide on large screens */
    padding: 20px; /* Added padding */
    box-sizing: border-box; /* Include padding and border in the width */
    display: flex;
    flex-direction: column; /* Stack fields vertically */
}

/* Modal Header */
.modal-header {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background-color: #006769;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Modal Body */
.modal-body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Form Group Styles */
.form-group {
    flex: 1;
    min-width: 200px;
}

/* Input and Select Styles */
.modal-body input,
.modal-body select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Schedule Container Styles */
.schedule-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* Day Container Styles */
.day-container {
    flex: 1;
    min-width: 150px;
}

/* Modal Footer */
.modal-footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}
